docker.enabled = true

params {
    reads = "${projectDir.getParent()}/Muestras/*_R{1,2}.fastq.gz"
    reference = "${projectDir.getParent()}/Referencias/Referencia.fasta"
    outdir = "${projectDir}/Resultados"
}

process {
    cpus = 4
    memory = 4.GB

    withName: fastp {
        container = 'community.wave.seqera.io/library/fastp:1.3.6--5a6797673f0eb245'
        publishDir = [path: { "${params.outdir}/Trimmed" }, mode: 'copy']
    }
    withName: fastqc {
        container = 'community.wave.seqera.io/library/fastqc:0.12.1--9971ea336a9eddae'
        publishDir = [path: { "${params.outdir}/Quality/Filtered" }, mode: 'copy']
    }
    withName: multiqc {
        container = 'community.wave.seqera.io/library/multiqc:1.35--c5313f6c74976ae9'
        publishDir = [path: { "${params.outdir}/MultiQC" }, mode: 'copy']
    }
    withName: quantification {
        container = 'community.wave.seqera.io/library/salmon:1.10.3--6ea6d56a4b0c26b8'
        publishDir = [path: { "${params.outdir}/Quantified" }, mode: 'copy']
        memory = 8.GB
    }
}
